* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box
}

body {
    background-color: #121212;
}

.content {
    background-color: #212121;
    width: 100vw;
    height: 100vh;
    padding: 1rem;  
    
}


.content h1 {
    display: inline-block;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    opacity: 0.87;
    margin: 1rem;

}