* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box
}

body {
    background-color: #121212;
}

.content {
    background-color: #212121;
    width: 100vw;
    height: 100vh;
    padding: 1rem;  
    
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.title h1 {
    display: inline-block;
    font-size: 3rem;
    font-weight: 700;
    color: #ff5722;
    background: linear-gradient(to right, #ff4800 0%, #c92f32 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.87;
    margin: 1rem;

}

.title .logo {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    margin: 1rem;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    color: #fff;
    opacity: 0.87;
    gap: 0.5rem;
}